<br />
<fieldset>
	<legend>About</legend>
	<table style='padding: 10px;'>
		<tr>
			<td valign='top'>
				<p>Hi!</p>
				<p>Glad you've found your way to my little place in cyberspace! I'm Olle Härstedt, a computer scientist from Sweden, and I'm developing this website where you can play card games and even make your own game. This website features an open API, meaning users can program games in the same manner as I do. This is done using the scripting language <a href='http://www.lua.org/about.html'><u>Lua</u></a>.</p>
				<p>The website is completely free as is now, without advertisement. If it ever gets popular, I plan to encourage people to buy a membership for a cost of about five Euros (one time fee).</p>
				<p>Enjoy your stay!</p>
			</td>
			<td><img style='border: 1px #777 solid; border-radius: 10px;' src='/img/olle_latvia.jpg' /><span class='note'>Typical workday?</span></td>
		</tr>
	</table>
</fieldset>
<br />
<fieldset>
	<legend>Contact</legend>
	<p>If you have any questions about the site you're welcome to contact me at: info (at) tonesoftales (dot) com. Also feel free to join the IRC chat #tonesoftales at freenode.</p>
</fieldset>
