<fieldset>
	<legend>Edit game</legend>
	<form method=post action=drakskatten>
		<input type=hidden name=op value=save_game />
		<input type=hidden name=module value=game />
		<input type=hidden name=game_id value={{game_id}} />
		<table>
			<tr>
				<th>Name</th><td>{{name}}</td>
			</tr>
			<tr>
				<th valign=top>Description</th><td colspan=2><textarea name=description cols=50 rows=8 >{{description}}</textarea></td><!--<td>The description will be shown for other players when they search for games. You might want to include the rules of the game here.</td>-->
			</tr>
			<tr>
				<th>Max players</th><td><input type=text name=max_players value={{max_players}} /></td>
			</tr>
			<tr>
				<th>Min players</th><td><input type=text name=min_players value={{min_players}} /></td>
			</tr>
			<!--
			<tr>
		<td>Player hands:</td>(how many hands of cards each player will have):<input type=text name=hands /></br />
			</tr>
			-->
			<tr>
				<th>Player slots</th><td><input type=text name=player_slots value={{player_slots}} /></td><td class='note'>Number of card slots in front of each players, working as the players part of the table.</td>
			</tr>
			<!--
			<tr>
				Tables (number of tables):<input type=text name=tables /><br />
			</tr>
			-->
			<tr>
				<th>Table slots</th><td><input type=text name=table_slots value={{table_slots}} /></td><td class='note'>Number of card slots for the table.</td>
			</tr>
			<tr>
				<th>Gadgets</th><td><input type=text name=gadgets value={{gadgets}} /></td><td class='note'>Number of GUI elements for each player (buttons, dialoges, slides etc).</td>
			</tr>
			<tr>
				<th>Public</th><td><select name=public id=public><option value=0 >No</option><option value=1>Yes</option></select></td><td class='note'>Other users can start game session with this game.</td>
			</tr>
			<tr>
				<td></td><td><input class='button' type=submit value='Save changes' /></td>
			</tr>
		<!-- Initialization script (this script will run when a game session is started; see documenation for examples and more information):<textarea name=init_script cols=50 rows=8></textarea><br /> -->
		</table>
	</form>
</fieldset>
<script>
/* Set "Public" */
$(document).ready(function () {
	var select = document.getElementById('public');
	select.options.selectedIndex = {{public}};
});
</script>
