		<h1><span style='font-size: 50px; font-family: sans-serif;'>T</span>ones of Tales</h1>
		<p>Welcome to Tones of Tales! Here you can play card games and other types of games (soon to come). All you have to do is <a href='http://tonesoftales.com/register.php'>register</a> an account.</p>
		<p>If you already have an account, please proceed to <a href='http://tonesoftales.com/login.php'>login</a></p>
		<p>Available card games:</p>
		<ul>
			<li>Casino</li>
			<li>Palace (shithead, "vändtia")</li>
		</ul>
		<p>This site make use of HTML5 features, so please make sure you have an updated browser (preferably Firefox or Chromium/Chrome).</p>
		<h2>Demonstration</h2>
		<p>Here's a video with me playing Palace with a friend:</p>
		<iframe width="640" height="480" src="//www.youtube.com/embed/pTqyUQlCGr8?rel=0" frameborder="0" allowfullscreen></iframe>
		<h2>For developers</h2>
		<p>This homepage features an open API, meaning that you yourself can create games like the ones already present. See the <a href='/cgi-bin/drakskatten?op=doc_tutorials&module=startpage'>tutorials</a> for more information on how to get started.</p>
