
<table>
	<tr>
		<td><img src='/img/add.png' /></td>
		<td><a href='?op=new_game&module=game'>New game session</a></td>
	</tr>
	<tr>
		<td></td>
		<td class='note'>Create a new game session where your friends can join you.</td>
	</tr>
	<tr>
		<td><img src='/img/join.png' /></td>
		<td><a href='?op=session_search&module=gamesession'>Join existent session</a></td>
	</tr>
	<tr>
		<td></td>
		<td class='note'>Join a session already created. You will see a list of session where the game has yet not started.</td>
	</tr>
</table>

